@model SaaS.Mailer.Models.EmailChangeConfirmationNotification

@using SaaS.Mailer;
@using General = SaaS.Mailer.Templates.LuluSoft.App_GlobalResources.General
@using local = SaaS.Mailer.Templates.LuluSoft.App_LocalResources.EmailChangeConfirmationNotification.EmailChangeConfirmationNotification

<table cellpadding="0" cellspacing="0" bgcolor="#ffffff" border="0" width="626" align="center">
    <tr>
        <td align="left" style="font:16px/24px Arial; color:#2b2b2b; padding:45px 0 0;">
            <p>
                @General.Dear @Model.FullName,
            </p>
            <p>
                @local.Prgh_1
            </p>
        </td>
    </tr>
    <tr>
        <td style="padding:50px 0 0;">
            <table cellpadding="0" cellspacing="0" border="0" width="626" align="center">
                <tr>
                    
                    <td align="center" height="80" width="50%" bgcolor="#3a74e6">
                        <a class="btn" style="text-decoration: none; display: inline-block; width: auto; background:#3a74e6; font-weight: 300; font: 19px/22px Arial, Helvetica, sans-serif; color: #e5ecfc; text-transform: uppercase; padding: 0 26px; border-top: 10px solid #3a74e6; border-bottom: 10px solid #3a74e6;" 
                           href="@links.Localize(Model.ConfirmationLink)">@local.Btn</a>
                    </td>
                    
                </tr>
                
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" style="font:16px/24px Arial; color:#2b2b2b; padding:45px 0 0;">
            <p>
                @local.Prgh_3
            </p>
            <p>
                @local.Prgh_4
            </p>
            <p>
                @local.Prgh_5
            </p>
        </td>
    </tr>
    <tr>
        <td align="left" style="font:16px/24px Arial; color:#2b2b2b; padding:45px 0 0;">
            <p>
                @General.regards
            </p>
            <p>
                @General.yourTeam
            </p>
        </td>
    </tr>
</table>