@model SaaS.Mailer.Models.Notification

@using SaaS.Mailer;
@using General = SaaS.Mailer.Templates.LuluSoft.App_GlobalResources.General
@using Buttons = SaaS.Mailer.Templates.LuluSoft.App_GlobalResources.Buttons
@using local = SaaS.Mailer.Templates.LuluSoft.App_LocalResources.PasswordChangedNotification.PasswordChangedNotification


<table cellpadding="0" cellspacing="0" bgcolor="#ffffff" border="0" width="626" align="center">
        <tr>
            <td align="left" style="font:16px/24px Arial; color:#2b2b2b; padding:45px 0 0;">
                <p>@General.Dear @Model.FullName,</p>
                <p>
                    @local.Prgh_1
                </p>
                <p>
                    @local.Prgh_2 ,
                    <a href="@links.account"
                       style="font:16px/24px Arial; color:#3a74e6; text-decoration: underline;">@Buttons.ClickChangePasw</a>.
                </p>
                <p>
                    @General.regards
                </p>
                <p>
                    @General.yourTeam
                </p>
            </td>
        </tr>
</table>