@model SaaS.Mailer.Models.ProductAssignedNotification

@using SaaS.Mailer;
@using General = SaaS.Mailer.Templates.LuluSoft.App_GlobalResources.General
@using Buttons = SaaS.Mailer.Templates.LuluSoft.App_GlobalResources.Buttons
@using local = SaaS.Mailer.Templates.LuluSoft.App_LocalResources.ProductAssignedNotificationCreatePassword.ProductAssignedNotificationCreatePassword

<table cellpadding="0" cellspacing="0" bgcolor="#ffffff" border="0" width="626" align="center">
    <tr>
        <td align="left" style="font:16px/24px Arial; color:#2b2b2b; padding:45px 0 0;">
            <p>
                @General.Hello,
            </p>
            <p>
                @General.Prgh_1 @Model.ProductName @General.by @Model.OwnerFullName.
                @local.Prgh_1
            </p>
        </td>
    </tr>
    <tr>
        <td style="padding:52px 0 0;">
            <table cellpadding="0" cellspacing="0" border="0" width="626" align="center">
                <tr>
                    <td align="center" height="60" width="45%" bgcolor="#3a74e6">
                        <a class="btn"
                           style="text-decoration: none; display: inline-block; width: auto; background:#3a74e6; font-weight: 300; font: 19px/22px Arial, Helvetica, sans-serif; color: #e5ecfc; text-transform: uppercase; padding: 0 46px; border-top: 10px solid #3a74e6; border-bottom: 10px solid #3a74e6;"
                           href="@links.Localize(Model.CreatePasswordLink)" title="@Buttons.CreatePassword">@Buttons.CreatePassword</a>
                    </td>
                    <td width="55%"></td>
                </tr>
                <tr><td height="90">&nbsp;</td></tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" style="font:16px/24px Arial; color:#2b2b2b; padding:45px 0 0;">

            <p>
                <a href="@links.Localize(Model.DownloadLink)" style="font:16px/24px Arial; color:#3a74e6; text-decoration: underline;">@Buttons.ClickHere</a>
                @General.Prgh_3
            </p>
            <p>
                @General.Prgh_4 
                <a href="@links.knowledgeBaseSwitchProduct" style="font:16px/24px Arial; color:#3a74e6; text-decoration: underline;">@Buttons.SwitchProduct</a>.
            </p>
            <p>
                @General.regards
            </p>
            <p>
                @General.yourTeam
            </p>
            
        </td>
    </tr>
</table>