@model SaaS.Mailer.Models.Notification

@using SaaS.Mailer;
@using General = SaaS.Mailer.Templates.PdfForge.App_GlobalResources.General
@using Buttons = SaaS.Mailer.Templates.PdfForge.App_GlobalResources.Buttons
@using local = SaaS.Mailer.Templates.PdfForge.App_LocalResources.PasswordChangedNotification.PasswordChangedNotification


<table cellpadding="0" cellspacing="0" bgcolor="#ffffff" border="0" width="626" align="center">
    <tr>
        <td align="center" style="padding-bottom: 30px;">
            <p>@General.Dear @Model.FullName,</p>
            <p>
                @local.Prgh_1
            </p>
            <p>
                @local.Prgh_2 <a href="@links.account" style="color:#3c3b3b; text-decoration: underline;">@Buttons.ClickChangePasw</a>.
            </p>
        </td>
    </tr>

    <tr>
        <td align="center" style="padding-bottom: 40px;">@General.yourTeam</td>
    </tr>

</table>